.first {
  height: 45px;
  background-color: #333;
  color: #fff;
  font-size: 17px;
}
@font-face {
  font-family: "Noto Sans";
  src: url("font/NotoSans.eot");
  src: url("NotoSans.eot?#iefix") format("embedded-opentype"),
    url("font/NotoSans.woff2") format("woff2"), url("font/NotoSans.woff") format("woff"),
    url("font/NotoSans.ttf") format("truetype"),
    url("NotoSans.svg#NotoSans") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.first1 {
  margin-left: 30px;
}
.img4{width: 200px;}
.li01{cursor: pointer;padding: 8px;}
.li01:hover{background-color:rgb(225, 220, 220);}



.ff1 {
  margin-right: 10px;
}
.ff2 {
  padding-right: 20px;
  font-size: 20px;
}
.ul1 {
  padding-right: 30px;
}
.li1 {padding-right: 20px;font-size: 18px;}
.img1 {margin-left: 20px;}

.search1 {margin-right: 15px;}
.cola {color: #222;}

.lip {
  color: black;
  margin-right: 45px;
  font-size: 20px;
  text-decoration: none;
}
.e1:hover { background-color: gray;}
.zir{font-size: 14px;}
.zir::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: white;
  display: block;
  transform: scaleX(0);
  transition: all 300ms ease 0s;
  transform-origin: left;
}
.zir:hover::after {transform: scaleX(1);}
.baby3{
  padding-right: 30px;

}
.title6{padding-top: 25px;}


.bac1{
  background-image: url("imgs/4-1.avif");
  background-size: contain;
  background-position: center;
  width: 708px;
  height: 345px;

  filter: opacity(0.4)
  

}
.bac2{
   background-image: url("imgs/4-2.avif");
  background-size: contain;
  background-position: center;
    width: 708px;
  height: 345px;
  margin-left: 25px;

  filter: opacity(0.4);

 
}
.bac2-1{transform: translateY(-190px);}
.coun2{margin: 20px auto;}
.buy{
  color: #3f8307;
  cursor: pointer;
}
.img02{
  margin-top: 110px;
  filter: none;

}
.hov1{ margin-top: 0px;}
.bac1:hover{
  .img02{
    display: block;

  }
}
@media all and (min-width:1400px){
.andaze{
  width: 450px;
  margin-right: 10px;
}

}
@media all and (min-width:992px) and (max-width:1400px){
  .andaze{ width: 300px;
  margin-left: 25px;}
  .andaze2{width: 250px;}

}
@media all and (min-width:200px) and (max-width:991px){
  .bac1{width: 800px;}
  .bac2{width: 800px;}}
.cursor{cursor: pointer;}